---
language: c
before_install:
      - sudo apt-get update -qq
install:
      - sudo apt-get install -qq avrdude binutils-avr avr-libc
before_script: 
## Install avr toolchain
      - WGET="travis_retry wget --continue --tries=20 --waitretry=10 --retry-connrefused --no-dns-cache --timeout 300"
      - $WGET http://atiselsts.github.io/resources/avr-gcc-4.9.2-compiled.tar.bz2 &&
        tar xjf avr-gcc*.tar.bz2 -C /tmp/ &&
        sudo cp -f -r /tmp/avr-gcc/* /usr/local/ &&
        rm -rf /tmp/avr-gcc avr-gcc*.tar.bz2 &&
        avr-gcc --version
script:
      - make mrproper
      - make geonobot_defconfig
      - make

      - make mrproper
      - make cortex_defconfig
      - make
