#
# Geonobot configuration
#
mainmenu "Geonobot configuration"

config CROSS_COMPILE
        string "Cross-compiler prefix"
        default "avr-"
        help
          Same as running 'make CROSS_COMPILE=prefix-' but stored for
          default make runs in this build directory.

config MCU
	string "MCU type"
	default "atxmega128a1"
	help
	  This define the argument to "-mcu" option while calling the
	  cross-compiler.

config F_CPU
	int "F_CPU (Hz)"
	default 32000000
	help
	  This define the micro-controller CPU frequency (default: 32 MHz).

config ENABLE_LOGGING
	bool "Enable logs on UART"
	default n
	help
	  Select this if you want to enable the logs output on a dedicated UART.

config DEFAULT_LOGLEVEL
	int "Logs level"
	depends on ENABLE_LOGGING
	default 0
	help
	  Configure loglevel. Valid loglevels are 0 for error logs to 3
	  which activates all log for: errors(0), warning(1), info(2) and
	  debug(3).

choice
	prompt "Platform selection"
	default BIG_BOT

config BIG_BOT2015
	bool "Geonobot 2015"
	help
	  This will build the Big bot firmware.

endchoice

config PLATFORM_NAME
	string
	default "geonobot" if BIG_BOT2015
