CONFIG_ARCH="xmega"
CONFIG_BIG_BOT2017=y
CONFIG_PLATFORM_NAME="cortex"
CONFIG_CROSS_COMPILE="avr-"
CONFIG_MCU="atxmega128a3u"
CONFIG_F_CPU=32000000
CONFIG_ENABLE_LOGGING=y
CONFIG_DEFAULT_LOGLEVEL=3
CONFIG_CALIBRATION=y
CONFIG_KOS_CHECK_STACKS=y
CONFIG_SD21=y
CONFIG_ANALOG_SENSORS=y
CONFIG_GP2D120=y
CONFIG_GP2Y0A21=y
CONFIG_GP2Y0A41=y
