CONFIG_ARCH="unix"
CONFIG_SIMU_NORMAL_SPEED=y
CONFIG_BIG_BOT2017=y
CONFIG_PLATFORM_NAME="cortex"
CONFIG_CROSS_COMPILE=""
CONFIG_MCU=""
CONFIG_F_CPU=32000000
CONFIG_ENABLE_LOGGING=y
CONFIG_DEFAULT_LOGLEVEL=3
CONFIG_CALIBRATION=y
CONFIG_KOS_CHECK_STACKS=y
CONFIG_SD21=y
CONFIG_ANALOG_SENSORS=y
